nav{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

a{
    text-decoration: none;
    color: white;



}

.navbar-links {
 display: flex;
 justify-content: space-between;
 gap: 2rem;
}

.logout-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
